.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1002; /* Higher than map and modal z-index */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center; /* Center the button */
}

header button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.MapContainer {
  margin-top: 100px; /* To prevent the map from being overlapped by the header */
  z-index: 1000;
}
